.title {
  display: flex;
  flex-direction: column;
  background-color: cornflowerblue;
  width: 0;
  position: relative;
  top: 20%;
  left: 50px;
}
.button__option {
  border: 1px solid skyblue;
  background-color: rgba((0), 0, 0, 0);
  color: black;
  padding: 5px;
}
